@use "../../assets/styles/values.scss" as base;

#sidebarSider {
  height: 100vh;
  background-color: base.$bg-dark;

  .logo {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px;
  }
  #menue {
    background-color: base.$bg-dark;
  }
}
