@use "../../assets/styles/values.scss" as base;
.Form {
  text-align: center;
  padding: 20px;
  background-color: rgba(237, 244, 250, 0.5);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &.Login {
    width: 800px;
  }

  .headingText {
    font-weight: bold;
    word-spacing: 1 !important;
    color: base.$bg-dark;
  }

  .fields {
    height: 3.5rem;
    font-size: large;
    color: base.$bg-dark;
    font-weight: 600;
  }

  .submitBtn {
    height: 3.5rem;
    width: 100%;
    margin-top: 20px;
    font-size: large;
    font-weight: 600;
    background-color: base.$bg-dark;
  }

  .links {
    display: flex;
    justify-content: space-between;

    .forget {
      font-size: large;
      font-weight: 600;
    }
    .signin {
      gap: 5px;
      display: flex;
      align-items: center;
      font-size: large;
      font-weight: 600;
      text-decoration: underline;
      // text-decoration: underline;
    }
  }
}



.delete-button {
  position: absolute;
  left: 0;
  bottom: 8px;
  z-index: 10;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 1rem 2rem; /* Tailwind uses rem for padding */
  border-radius: 0.5rem 1rem; /* Tailwind uses rem for border-radius */
  background-color: #FF3A29;
  &:hover {
    background-color: #d0021b; /* Equivalent of red-400 in SCSS */
  }
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* Tailwind uses rem for gap */
}

.LabelStyles {
  display: flex;
  align-items: center;
  gap: 2rem; /* Tailwind uses rem for gap */
  margin-top: 4rem; /* Tailwind uses rem for margin */
  border-radius: 0.5rem; /* Tailwind uses rem for border-radius */
  color: #2255A6;
  padding: 2rem 6rem; /* Tailwind uses rem for padding */
  cursor: pointer;
}
